@using Microsoft.AspNetCore.Identity
@using school_major_project.Models
@using school_major_project.ViewModel
@using school_major_project.HelperClass

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var model = ViewData["LayoutViewModel"] as BaseFilmVM;
    // var categories = ViewBag.HeaderCategories as IEnumerable<Category>;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ba Anh Em - Online Ticket Booking Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/css/jquery.animatedheadline.css" />
    <link rel="stylesheet" href="~/css/css/all.min.css/" />
    <link rel="stylesheet" href="~/css/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/css/nice-select.css" />
    <link rel="stylesheet" href="~/css/css/contact.css" />
    <link rel="stylesheet" href="~/css/css/main.css" />

    <link href="~/css/css/odometer.css" rel="stylesheet" />
    <link href="~/css/css/animate.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/css/userprofile.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/school_major_project.styles.css" asp-append-version="true" />
    <link href="~/imgs/img/movie/cake2.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />


    <style>
        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
        }

        .btn__logout {
            background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
            padding: 10px 49px;
            font-weight: 600;
            border-radius: 25px;
            display: inline-block;
            transition: all 0.3s ease;
        }

            .btn__logout:hover {
                box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
            }

            .btn__logout:focus,
            .btn__logout:active {
                border: none;
                outline: none;
            }

        .mt-50 {
            margin-top: 50px;
        }
    </style>

    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop" style="z-index: 1">
        <i class="fas fa-angle-up"></i>
    </a>

    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="~/imgs/img//logo/logo1.png" alt="Logo" />
                    </a>
                </div>

                <ul class="menu">
                    <li>
                        <a href="/" class="active on_item" id="1">Trang chủ</a>
                    </li>
                    <li>
                        <a asp-controller="Films" asp-action="AllFilms" asp-route-page="1" class="on_item" id="2">Phim</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#0" class="on_item" id="3">Thể loại</a>
                        <ul class="submenu scroll-sub-menu">
                            @if (model?.Categories != null)
                            {
                                foreach (var category in model.Categories)
                                {
                                    <li>
                                        <a asp-controller="Films" asp-action="GetFilmsByCategory" asp-route-name="@category.CategoryDescription.RemoveDiacritics()" asp-route-page="1">@category.CategoryDescription</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="#0">empty for now</a>
                                </li>
                            }

                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#0" class="on_item" id="4"> Trang </a>
                        <ul class="submenu">
                            <li>
                                <a asp-controller="Blogs" asp-action="Index">bài viết</a>
                            </li>
                            <li>
                                <a href="/lien-he">Liên hệ</a>
                            </li>
                            <li>
                                <a href="/ve-chung-toi">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="/khuyen-mai">Khuyến mãi</a>
                            </li>
                        </ul>
                    </li>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="header-button pr-0">
                            <a id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                        </li>
                        <li class="header-button pr-0">
                            <a id="login" asp-area="Identity" asp-page="/Account/Login"
                               asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">Đăng nhập</a>
                        </li>
                    }

                    else
                    {
                        <li>
                            <a href="#0" class=" on_item" id="5"> Tài khoản </a>
                            <ul class="submenu">
                                <li><a href="/tai-khoan/chi-tiet-tai-khoan">Tài khoản</a></li>
                                <li><a href="/tai-khoan/lich-su-dat-ve">Lịch sử đặt vé</a></li>
                            </ul>
                        </li>
                        <li class="header-button pr-0">
                            <form id="logoutForm" class="form-inline"
                                  asp-area="Identity" asp-page="/Account/Logout" style="display:none" method="post"
                                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            </form>
                            <a href="javascript:void(0);" id="logoutLink" class="btn__logout">Đăng xuất</a>
                        </li>

                    }

                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer-section mt-50">
        <div class="container">
            <div class="newslater-container bg_img" data-background="/imgs/img/newslater/newslater-bg01.jpg">
                <div class="newslater-wrapper">
                    <h5 class="cate">
                        Đăng kí Ba Anh Em
                    </h5>
                    <h3 class="title">Nhận ngay nhiều voucher hấp dẫn đừng bỏ lỡ!</h3>
                    <form class="newslater-form">
                        <input type="text" placeholder="Địa chỉ email của bạn" />
                        <button type="submit">Đăng kí</button>
                    </form>
                    <p> Chúng tôi rất tôn trọng quyền riêng tư của bạn, chúng tôi sẽ không bao giờ chia sẻ thông tin của bạn </p>
                </div>

            </div>
            @* &copy; 2024 - school_major_project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="/">
                        <img src="~/imgs/img/logo/logo1.png" width="185px" alt="footer" />
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="active">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>
                            Copyright © 2024.All Rights Reserved By <a href="#0">Ba Anh Em </a>
                        </p>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="#">Về chúng tôi </a>
                        </li>
                        <li>
                            <a href="#0">Terms Of Use</a>
                        </li>
                        <li>
                            <a href="#0">Chính sách quyền riêng tư</a>
                        </li>
                        <li>
                            <a href="#0">FAQ</a>
                        </li>
                        <li>
                            <a href="#0">Phản hồi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div>
        <!-- contact social media animation -->
        <div id="button-contact-vr" class="">
            <div id="gom-all-in-one">
                <!-- v3 -->
                <!-- fb-->
                <div id="fb-vr" class="button-contact">
                    <div class="phone-vr">
                        <div class="phone-vr-circle-fill"></div>
                        <div class="phone-vr-img-circle">
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=61561613647441">
                                <img src="https://th.bing.com/th/id/R.e790c25db5e52838040686612b1a732c?rik=uVuLX4sResGMKA&riu=http%3a%2f%2fpngimg.com%2fuploads%2ffacebook_logos%2ffacebook_logos_PNG19757.png&ehk=JL234rPBfx%2bf3tobhEVbPdNgJiWOhk251WyRwRAg940%3d&risl=&pid=ImgRaw&r=0" />
                            </a>
                        </div>
                        <div class="fb-bar fb-bar-n">
                            <a href="https://www.facebook.com/profile.php?id=61561613647441" target="_blank">
                                <span class="text-phone">Xem bài viết ngay, voucher liền tay</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end fb -->
                <!-- viber -->
                <!-- end viber -->
                <!-- zalo -->
                <div id="zalo-vr" class="button-contact">
                    <div class="phone-vr">
                        <div class="phone-vr-circle-fill"></div>
                        <div class="phone-vr-img-circle">
                            <a target="_blank" href="https://zalo.me/0931034852">
                                <img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/zalo.png" />
                            </a>
                        </div>
                        <div class="zalo-bar zalo-bar-n">
                            <a href="https://zalo.me/0931034852">
                                <span class="text-phone">Gửi yêu cầu tư vấn ngay</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end zalo -->
                <!-- Phone -->
                <div id="phone-vr" class="button-contact">
                    <div class="phone-vr">
                        <div class="phone-vr-circle-fill"></div>
                        <div class="phone-vr-img-circle">
                            <a href="tel:0931034852">
                                <img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/phone.png" />
                            </a>
                        </div>
                        <div class="phone-bar phone-bar-n">
                            <a href="tel:0931034852">
                                <span class="text-phone">093.1034.852(a Phát)</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end phone -->
            </div>
            <!-- end v3 class gom-all-in-one -->
        </div>
    </div>

    <script>
        ! function(s, u, b, i, z) {
            var o, t, r, y;
            s[i] || (s._sbzaccid = z, s[i] = function() {
                s[i].q.push(arguments)
            }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function(k, t) {
                var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3);
                return k !== t ? n : n.toString(32)
            })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function(k) {
                var t, n;
                s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1))
            })(0))
        }(window, document, "script", "subiz", "acsadgnruqpvzqeqzezv")
    </script>
    <script>
        document.getElementById('logoutLink').addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('logoutForm').submit();
        });
        
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/js/modernizr-3.6.0.min.js"></script>
    <script src="~/js/js/plugins.js"></script>
    <script src="~/js/js/heandline.js"></script>
    <script src="~/js/js/isotope.pkgd.min.js"></script>
    <script src="~/js/js/magnific-popup.min.js"></script>
    <script src="~/js/js/owl.carousel.min.js"></script>
    <script src="~/js/js/wow.min.js"></script>
    <script src="~/js/js/countdown.min.js"></script>
    <script src="~/js/js/odometer.min.js"></script>
    <script src="~/js/js/viewport.jquery.js"></script>
    <script src="~/js/js/nice-select.js"></script>
    <script src="~/js/js/seat.js"></script>
    <script src="~/js/js/app.js"></script>
    <script src="~/js/js/main.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="~/js/js/qrcode.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
