@model school_major_project.Models.Cinema

@{
    ViewData["Title"] = "Chỉnh sửa thông tin rạp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>@ViewData["Title"]</h2>
                        <a asp-action="Index" class="main__title-link">Trở về</a>

                    </div>
                </div>
                <!-- end main title -->
                <!-- form -->
                <div class="col-12">
                    <form method="post" asp-action="Edit" class="form">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-12">

                                <label class="form-check-label" style="color: white" asp-for="CinemaName">@Html.DisplayNameFor(Model => Model.CinemaName)</label>
                                <input type="text" class="form__input" placeholder="Nhập @Html.DisplayNameFor(Model => Model.CinemaName)"
                                       asp-for="CinemaName" required aria-required="true" />
                                <span asp-validation-for="CinemaName" class="text-danger"></span>


                            </div>
                            <div class="col-12">

                                <label class="form-check-label" style="color: white" asp-for="CinemaAddress">@Html.DisplayNameFor(Model => Model.CinemaAddress)</label>
                                <input type="text" class="form__input" placeholder="Nhập @Html.DisplayNameFor(Model => Model.CinemaAddress)"
                                       asp-for="CinemaAddress" required aria-required="true" />
                                <span asp-validation-for="CinemaAddress" class="text-danger"></span>

                            </div>
                            <div class="col-12">

                                <label class="form-check-label" style="color: white" asp-for="CinemaPhoneNumber">@Html.DisplayNameFor(Model => Model.CinemaPhoneNumber)</label>
                                <input type="text" class="form__input" placeholder="Nhập @Html.DisplayNameFor(Model => Model.CinemaPhoneNumber)"
                                       asp-for="CinemaPhoneNumber" required aria-required="true" />
                                <span asp-validation-for="CinemaPhoneNumber" class="text-danger"></span>

                            </div>

                            <div class="col-12">

                                <label class="form-check-label" style="color: white" asp-for="Map">@Html.DisplayNameFor(Model => Model.Map)</label>
                                <input type="text" class="form__input" placeholder="Nhập @Html.DisplayNameFor(Model => Model.Map)" 
                                       asp-for="Map" required aria-required="true" />
                                <span asp-validation-for="Map" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="form__btn">Thực hiện</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
</section>
