@using school_major_project.Areas.Admin.Data
@model CinemasViewModel

@{
    ViewData["Title"] = "Quản lý chi nhánh";
    int numberOfCinemas = Model.Cinemas.Count();
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>@ViewBag.Title</h2>
                    <a asp-controller="Admin" asp-action="AddCinema" class="main__title-link">Thêm mới</a>
                </div>
            </div>
            <!-- End Main Title -->
        </div>
        <!-- Tabs Navigation -->
        <div class="col-12">
            <ul class="nav nav-tabs" id="cinemaTabs" role="tablist">
                @foreach (var cinema in Model.Cinemas)
                {
                    <li class="nav-item" role="presentation">
                        <a href="#tab-@cinema.Id"
                           id="cinema-tab-@cinema.Id"
                           class="nav-link @(Model.SelectedCinema?.Id == cinema.Id ? "active" : "")"
                           data-cinema-id="@cinema.Id"
                           data-bs-toggle="tab"
                           role="tab"
                           aria-controls="tab-@cinema.Id"
                           aria-selected="@(Model.SelectedCinema?.Id == cinema.Id ? "true" : "false")">
                            @cinema.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="cinema-info">
            <div class="cinema-info__container">
                <h4 class="cinema-info__title">Thông tin chi nhánh</h4>
                <p class="cinema-info__detail">Tên rạp: <span id="cinema-name">@Model.SelectedCinema?.Name</span></p>
                <p class="cinema-info__detail">Địa chỉ: <span id="cinema-location">@Model.SelectedCinema?.Location</span></p>
                <p class="cinema-info__detail">Vị trí: <span id="cinema-map">@Model.SelectedCinema?.Map</span></p>
            </div>
            <div class="cinema-info__container">
                <button id="quick-create-room" class="btn btn-primary" data-cinema-id="@Model.SelectedCinema?.Id">
                    Thêm phòng mới
                </button>
                <a id="edit-cinema-link" asp-controller="Cinemas" asp-action="Edit" asp-route-id="@Model.SelectedCinema?.Id" class="btn btn-primary">
                    Chỉnh sửa thông tin rạp
                </a>
            </div>
        </div>

        <!-- Tabs Content -->
        <div class="tab-content" id="cinemaTabsContent">
            @foreach (var cinema in Model.Cinemas)
            {
                <div class="tab-pane fade @(Model.SelectedCinema?.Id == cinema.Id ? "show active" : "")"
                     id="tab-@cinema.Id"
                     role="tabpanel"
                     aria-labelledby="cinema-tab-@cinema.Id">
                    <div class="row mt-3">
                        @foreach (var room in cinema.Rooms)
                        {
                            <div class="col-md-6 mb-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">@room.Name</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Địa chỉ: <span>@cinema.Location</span>
                                        </p>
                                        <p class="card-text">
                                            Vị trí: <span>@cinema.Map</span>
                                        </p>
                                        <a asp-controller="Rooms"
                                           asp-action="Details"
                                           asp-area="Admin"
                                           asp-route-id="@room.Id"
                                           class="btn btn-info">Chi tiết phòng</a>
                                        <a asp-controller="Rooms"
                                           asp-action="Edit"
                                           asp-area="Admin"
                                           asp-route-id="@room.Id"
                                           class="btn btn-primary">Chỉnh sửa</a>
                                        <a href="#modal-delete" onclick="setDeleteItem(@room.Id)" class="btn btn-danger open-modal">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <!-- End Tabs Content -->
    </div>
</main>

<!-- Modal Delete -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Thông báo</h6>
    <p class="modal__text">Bạn có muốn xoá dữ liệu này không? Không thể xoá dữ liệu đã có liên kết.</p>
    <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button"
                onclick="deleteItem('/admin/phong-chieu/xoa/' + deleteItemId, '/admin/rap-phim')">
            Xoá
        </button>
        <button class="modal__btn modal__btn--dismiss" type="button">Đóng</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/js/cinema.js"></script>
}
@section Styles {
    <style>
        body {
            background-color: #2b2b31 !important;
        }

        .cinema-info {
            background-color: #28282d;
            margin-top: 20px;
            color: white;
            border-radius: 10px;
            padding: 10px;
        }

        .cinema-info__container {
            padding: 5px 10px;
        }

        .nav-item a {
            color: white;
        }

            .nav-item a:hover {
                background-color: #9d9d9d;
                color: black;
            }

        ::selection {
            background-color: lightgray;
            color: black;
        }

        .disable-selection {
            user-select: none;
        }

        .room-actions a {
            margin-right: 10px;
        }
    </style>
}