@using school_major_project.ViewModel
@model FilmPagingViewModel
@using school_major_project.HelperClass
@{
    ViewData["Title"] = "Trang Chủ";
    int visiblePages = 5; // Số trang hiển thị
    int startPage = Math.Max(1, Model.CurrentPage - visiblePages / 2);
    int endPage = Math.Min(Model.TotalPages, startPage + visiblePages - 1);
}
@section Styles {
    <style>
        *{
            user-select:none;
        }
        .flex-form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 50px;
        }

        .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            gap: 5px;
        }

        .type-country {
            margin-right: 20px;
            color: #31d7a9;
            z-index: 1;
        }

        .list {
            color: black;
        }

        .current {
            color: black;
        }

        .thumb-country {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            -webkit-box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .thumn-country img {
            width: 100%;
        }
    </style>
}
<!-- ==========Preloader========== -->
@{
    await Html.RenderPartialAsync("_Preloader");
}
<!-- ==========banner========== -->
<section class="banner-section" style="padding:150px 0 200px">
    <div class="banner-bg bg_img bg-fixed" data-background="/imgs/img/banner/banner011.jpg" style="background-image: url('/imgs/img/banner/banner011.jpg');"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title cd-headline clip">
                <span class="d-block">Đặt vé xem phim</span>
                <span class="color-theme cd-words-wrapper p-0 m-0" style="width: 271.888px;">
                    <b class="is-visible pb-3"></b>
                    <b class="is-hidden pb-3">Tiện lợi</b>
                    <b class="is-hidden pb-3">Đáng tin cậy</b>
                    <b class="is-hidden pb-3">Thư giãn</b>
                    <b class="is-hidden pb-3">Nhanh chóng</b>
                </span>
            </h1>   
        </div>
    </div>
</section>

<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="/imgs/img/ticket/ticket-bg01.jpg" style="background-image:url('/imgs/img/ticket/ticket-bg01.jpg');">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">Chào mừng đến với ba anh em</h6>
                        <h3 class="title">Bạn đang tìm kiếm phim gì nè?</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <div class="flex-form">
                        <form class="ticket-search-form" action="#" method="get">
                            <div class="form-group large">
                                <div action="/films/searchbyname" method="get">
                                    <input type="text" name="keyword" @* th:value="${keyword}"  *@placeholder="Tìm kiếm phim" required="">
                                    <button type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form>
                            <div class="form-group flex-center">
                                <div class="thumb-country">
                                    <img src="~/imgs/img/ticket/city.png" alt="ticket" />
                                </div>
                                <span class="type type-country">Quốc gia: </span>
                                <select class="select-bar" onchange="handleChange(this)">
                                    <option value="" disabled selected>Chọn quốc gia</option>
                                    @foreach(var item in Model.Countries){
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                    @* <option th:each="country : ${countries}" th:value="${country.getId()}" th:text="${country.name}"></option> *@
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="movie-section padding-top bg-two">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-12">
                <div class="article-section padding-bottom">
                    <div class="section-header-1">
                        <h2 class="title">Các phim hiện có</h2>
                        <a class="view-all" href="#">Xem tất cả phim</a>
                    </div>
                    <div class="row mb-30-none justify-content-center">
                        @{
                            if (Model == null)
                            {
                                <h2>
                                    Hiện tại trống
                                </h2>
                            }
                            else
                            {
                                foreach (var item in Model.Films)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="movie-grid">
                                            <div class="movie-thumb c-thumb">
                                                <a asp-action="Details" asp-controller="Films" asp-route-name="@item.Name.RemoveDiacritics()">
                                                    <img src="@item.PosterUrl" alt="movie">
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title m-0">
                                                    <a href="">@item.Name</a>
                                                </h5>
                                                <ul class="movie-rating-percent">
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="~/imgs/img/movie/tomato.png" alt="movie">
                                                        </div>
                                                        <span class="content">88%</span>
                                                    </li>
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="~/imgs/img/movie/cake.png" alt="movie">
                                                        </div>
                                                        <span class="content">88%</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="pagination-area text-center">
                    @if (Model.CurrentPage > 1)
                    {
                        <a href="?page=@(Model.CurrentPage - 1)">Trang trước</a>
                    }

                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <a href="?page=@i" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
                    }

                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <a href="?page=@(Model.CurrentPage + 1)">Trang tiếp theo</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



