<!DOCTYPE html>

<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/admin/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/admin/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/admin/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/admin/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/admin/css/select2.min.css">
    <link rel="stylesheet" href="~/css/admin/css/admin.css">
    <link rel="stylesheet" href="~/css/admin/css/sidebarNav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/admin/index.css" rel="stylesheet" asp-append-version="true" />
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/imgs/admin/img/icon/cake2.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="~/imgs/admin/img/icon/cake2.png" />

    <link rel="icon" type="image/png" href="~/imgs/admin/img/logo/favicon.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="~/imgs/admin/img/icon/favicon-32x32.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css"
          integrity="sha512-UiKdzM5DL+I+2YFxK+7TDedVyVm7HMp/bN85NeWMJNYortoll+Nd6PU9ZDrZiaOsdarOyk9egQm6LOJZi36L2g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Trang Admin</title>

    <style>
        body {
            background-color: #000000e0;
        }

        #modal-delete {
            display: block;
            align-content: center;
            position: relative;
        }

        /* Select2 Custom Styles */
        .select2-container {
            width: 100% !important;
        }
        .select2-container--default .select2-selection--multiple {
            background-color: #2f3640;
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #ffd700;
            color: #2f3640;
            border: none;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: #2f3640;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #ffd700;
            color: #2f3640;
        }
        .select2-dropdown {
            background-color: #2f3640;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
        .select2-container--default .select2-results__option {
            color: #fff;
        }
        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #2f3640;
            color: #fff;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body>


    <header class="header">
        <div class="header__content">
            <!-- header logo -->
            <a href="/admin" class="header__logo">
                <img src="~/imgs/img/logo/logo1.png" alt="" />
            </a>
            <!-- end header logo -->
            <!-- header menu btn -->
            <button class="header__btn" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- end header menu btn -->
        </div>
    </header>

    <div class="sidebar">
        <!-- sidebar logo -->
        <a href="/admin" class="sidebar__logo">
            <img src="~/imgs/img/logo/logo1.png" alt="" />
        </a>
        <!-- end sidebar logo -->
        <!-- sidebar user -->
        <div class="sidebar__user">
            <div class="sidebar__user-img">
                <img src="~/imgs/admin/img/user.svg" alt="" />
            </div>
            <div class="sidebar__user-title">
                <span>Administrator</span>
                <p>Admin</p>
            </div>
            @*  style="display:none" *@
            <form id="logoutForm" class="form-inline"
                  asp-area="Identity" asp-page="/Account/Logout" method="post"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="sidebar__user-btn" title="Đăng xuất">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path>
                    </svg>
                </button>
            </form>
        </div>
        <!-- end sidebar user -->
        <!-- sidebar nav -->
        <ul class="sidebar__nav">
            <li class="sidebar__nav-item">
                <a href="/admin" class="sidebar__nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z" />
                    </svg>
                    Trang chủ
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="/admin/quoc-gia" class="sidebar__nav-link">
                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px"
                         viewBox="0 0 356.926 356.926" xml:space="preserve">
                    <g>
                    <g>
                    <path d="M211.89,213.669c0-10.475-8.521-18.997-18.996-18.997c-0.401,0-0.799,0.017-1.193,0.041v2.406
                        c0.396-0.028,0.79-0.061,1.193-0.061c9.158,0,16.608,7.452,16.608,16.611s-7.45,16.61-16.608,16.61
                        c-0.269,0-0.53-0.027-0.795-0.041v0.897v1.509v4.723H186.2v3.182h13.388v-3.182h-5.104v-4.774
                        C204.218,231.781,211.89,223.607,211.89,213.669z" />
                    <g>
                    <polygon points="260.072,79.408 260.398,82.045 256.447,82.882 255.913,88.517 260.677,88.517 266.998,87.913 270.251,84.021
                            266.788,82.678 264.883,80.488 262.024,75.858 260.677,69.329 255.286,70.409 253.799,72.721 253.799,75.312 256.378,77.084
                            " />
                    <polygon points="255.495,81.569 255.773,78.037 252.637,76.683 248.233,77.706 244.945,82.94 244.945,86.344 248.768,86.344
                            " />
                    <path d="M164.852,96.598l-0.976,2.498h-4.7v2.428h1.121c0,0,0.07,0.511,0.168,1.191l2.876-0.238l1.783-1.121l0.465-2.248
                            l2.335-0.204l0.912-1.888l-2.138-0.442L164.852,96.598z" />
                    <polygon points="152.739,101.001 152.565,103.366 155.976,103.081 156.324,100.705 154.279,99.096 			" />
                    <path d="M356.868,176.633c-0.047-5.223-0.313-10.398-0.802-15.505c-1.662-17.01-5.717-33.311-11.828-48.589
                            c-0.441-1.127-0.859-2.283-1.336-3.41c-8.121-19.183-19.531-36.646-33.474-51.721c-0.906-0.987-1.835-1.952-2.765-2.916
                            c-2.649-2.736-5.333-5.415-8.156-7.971C266.788,17.631,224.642,0,178.463,0C131.896,0,89.447,17.957,57.635,47.271
                            c-7.413,6.832-14.221,14.303-20.408,22.285C13.919,99.717,0,137.49,0,178.463c0,98.398,80.059,178.463,178.463,178.463
                            c69.225,0,129.316-39.643,158.897-97.399c6.32-12.327,11.247-25.491,14.569-39.294c0.837-3.486,1.58-7.018,2.208-10.585
                            c1.801-10.137,2.788-20.56,2.788-31.196C356.902,177.859,356.868,177.249,356.868,176.633z M323.278,105.306l1.022-1.162
                            c1.359,2.637,2.649,5.304,3.846,8.028l-1.708-0.07l-3.172,0.436v-7.233H323.278z M297.484,74.156l0.023-7.971
                            c2.812,2.975,5.508,6.036,8.087,9.214l-3.207,4.781l-11.247-0.111l-0.696-2.341L297.484,74.156z M82.214,54.364v-0.302h3.567
                            l0.325-1.226h5.838v2.55l-1.691,2.236h-8.052v-3.259H82.214z M87.925,62.323c0,0,3.578-0.61,3.892-0.61c0.296,0,0,3.573,0,3.573
                            l-8.081,0.511l-1.534-1.847L87.925,62.323z M334.642,133.156h-13.06l-7.971-5.92l-8.365,0.808v5.112h-2.648l-2.848-2.033
                            l-14.512-3.671v-9.4l-18.38,1.423l-5.705,3.062h-7.285l-3.59-0.36l-8.854,4.926v9.254l-18.097,13.065l1.5,5.583h3.677
                            l-0.964,5.315l-2.58,0.953l-0.133,13.884l15.633,17.823h6.819l0.407-1.081h12.246l3.531-3.265h6.948l3.812,3.811l10.328,1.069
                            l-1.359,13.757l11.503,20.28l-6.064,11.572l0.406,5.438l4.775,4.752v13.095l6.251,8.412v10.897h5.391
                            c-30.046,36.913-75.823,60.534-127.026,60.534c-90.312,0-163.783-73.454-163.783-163.777c0-22.732,4.665-44.401,13.077-64.089
                            v-5.106l5.855-7.11c2.033-3.846,4.212-7.582,6.542-11.235l0.25,2.974l-6.791,8.261c-2.108,3.985-4.084,8.052-5.855,12.217v9.312
                            l6.791,3.276v12.955l6.535,11.136l5.316,0.808l0.68-3.817l-6.245-9.661l-1.237-9.388h3.677l1.557,9.673l9.051,13.193l-2.33,4.27
                            l5.734,8.795l14.291,3.532v-2.306l5.711,0.808l-0.534,4.078l4.484,0.825l6.948,1.888l9.8,11.171l12.507,0.941l1.237,10.207
                            l-8.58,5.984l-0.39,9.115l-1.237,5.588l12.386,15.5l0.947,5.32c0,0,4.49,1.209,5.048,1.209c0.535,0,10.062,7.227,10.062,7.227
                            v28.024l3.393,0.964l-2.294,12.92l5.71,7.634l-1.068,12.827l7.563,13.269l9.696,8.47l9.731,0.197l0.952-3.148l-7.163-6.029
                            l0.418-2.986l1.272-3.684l0.273-3.741l-4.839-0.14l-2.44-3.066l4.021-3.881l0.546-2.916l-4.496-1.29l0.261-2.719l6.402-0.976
                            l9.73-4.672l3.265-6.006l10.196-13.06l-2.312-10.213l3.131-5.438l9.399,0.278l6.327-5.02l2.051-19.693l7.04-8.877l1.237-5.704
                            l-6.39-2.045l-4.224-6.942l-14.419-0.145l-11.444-4.351l-0.534-8.162l-3.811-6.675l-10.335-0.145l-5.995-9.382l-5.298-2.585
                            l-0.273,2.858l-9.672,0.569l-3.532-4.926l-10.079-2.045l-8.302,9.603l-13.065-2.23l-0.953-14.727l-9.527-1.632l3.805-7.221
                            l-1.092-4.148l-12.531,8.371l-7.877-0.964l-2.817-6.158l1.737-6.355l4.339-8.005l9.998-5.072h19.322l-0.064,5.891l6.948,3.235
                            l-0.558-10.062l5.007-5.037l10.103-6.64l0.703-4.659l10.068-10.486l10.707-5.937l-0.941-0.773l7.256-6.826l2.655,0.703
                            l1.214,1.522l2.76-3.062l0.68-0.296l-3.021-0.43l-3.084-0.987v-2.963l1.632-1.33h3.579l1.655,0.726l1.418,2.858l1.737-0.267
                            v-0.244l0.5,0.163l5.02-0.772l0.714-2.463l2.852,0.726v2.667l-2.666,1.818h0.018l0.377,2.928l9.115,2.794c0,0,0,0.035,0.023,0.11
                            l2.079-0.18l0.146-3.939l-7.209-3.282l-0.396-1.894l5.972-2.033l0.273-5.722l-6.245-3.805l-0.412-9.667l-8.581,4.218h-3.143
                            l0.837-7.355l-11.688-2.748l-4.816,3.654v11.119l-8.673,2.754l-3.486,7.244l-3.758,0.604v-9.277l-8.162-1.133l-4.096-2.667
                            l-1.639-6.007l14.611-8.54l7.14-2.179l0.72,4.804l3.991-0.215l0.308-2.411l4.166-0.599l0.07-0.842l-1.784-0.738l-0.407-2.544
                            l5.118-0.43l3.091-3.213l0.18-0.238l0.035,0.012l0.941-0.976l10.753-1.354l4.746,4.032l-12.467,6.64l15.871,3.747l2.045-5.31
                            h6.948l2.44-4.625l-4.903-1.226v-5.856l-15.359-6.803l-10.62,1.226l-6.001,3.125l0.407,7.628l-6.257-0.953l-0.964-4.212
                            l6.007-5.449l-10.898-0.535l-3.125,0.953l-1.359,3.677l4.084,0.686l-0.813,4.084l-6.936,0.406l-1.092,2.725L118.987,52.4
                            c0,0-0.273-5.711-0.703-5.711c-0.389,0,7.901-0.145,7.901-0.145l5.995-5.85l-3.271-1.632l-4.339,4.223l-7.222-0.406l-4.403-6.019
                            h-9.254L94.03,44.07h8.848l0.796,2.597l-2.307,2.172l9.807,0.279l1.487,3.532l-11.032-0.407l-0.546-2.725l-6.925-1.499
                            l-3.689-2.033l-8.255,0.069c27.043-19.699,60.284-31.358,96.226-31.358c41.403,0,79.263,15.476,108.124,40.915l-1.929,3.474
                            l-7.564,2.962l-3.194,3.462l0.743,4.02l3.893,0.546l2.358,5.867l6.704-2.713l1.127,7.86h-2.045l-5.519-0.819l-6.111,1.022
                            l-5.926,8.377l-8.458,1.319l-1.221,7.25l3.579,0.842l-1.046,4.665l-8.412-1.69l-7.703,1.69l-1.639,4.293l1.325,9.01l4.531,2.115
                            l7.61-0.046l5.123-0.465l1.58-4.078l8.018-10.422l5.264,1.081l5.193-4.7l0.976,3.678l12.78,8.621l-1.557,2.108l-5.763-0.308
                            l2.23,3.137l3.556,0.79l4.159-1.737l-0.093-5.002l1.859-0.923l-1.487-1.575l-8.528-4.758l-2.254-6.314h7.099l2.243,2.248
                            l6.134,5.257l0.244,6.367l6.332,6.733l2.348-9.231l4.392-2.394l0.802,7.552l4.287,4.7l8.54-0.139
                            c1.661,4.247,3.148,8.563,4.427,12.978L334.642,133.156z M97.324,81.092l4.27-2.044l3.881,0.929l-1.324,5.211l-4.183,1.319
                            L97.324,81.092z M120.073,93.35v3.37h-9.783l-3.689-1.028l0.918-2.341l4.7-1.94h6.437v1.94H120.073z M124.582,98.05v3.259
                            l-2.463,1.58l-3.044,0.575c0,0,0-4.903,0-5.415H124.582z M121.822,96.72v-3.893l3.363,3.067L121.822,96.72z M123.355,104.568
                            v3.178l-2.347,2.347h-5.211l0.813-3.573l2.463-0.215l0.5-1.226L123.355,104.568z M110.39,98.05h5.408l-6.948,9.696l-2.852-1.534
                            l0.616-4.084L110.39,98.05z M132.529,103.464v3.166h-5.211l-1.417-2.062v-2.951h0.406L132.529,103.464z M127.748,99.096
                            l1.475-1.557l2.498,1.557l-1.999,1.656L127.748,99.096z M337.291,141.428l0.511-0.61c0.232,0.93,0.441,1.859,0.662,2.789
                            L337.291,141.428z" />
                    <path d="M27.734,109.268v5.106c1.771-4.177,3.747-8.231,5.855-12.223L27.734,109.268z" />
                  </g>
                </g>
              </g>
            </svg>
                    Quốc gia
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="/admin/phim" class="sidebar__nav-link">
                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px"
                         viewBox="0 0 498.631 498.631" xml:space="preserve">
                    <g>
                    <g id="Layer_8_11_">
                    <path d="M43.734,222.979c-0.941-1.323-1.3-2.969-1.009-4.567c5.474-29.439,21.583-56.329,44.861-75.015
                                c1.27-1.021,2.9-1.486,4.52-1.278c1.62,0.213,3.089,1.064,4.052,2.369l30.257,40.753c1.47,1.967,1.541,4.561,0.38,6.572
                                c-0.339,0.588-0.788,1.133-1.331,1.592c-10.636,8.928-18.004,21.215-20.827,34.999c-0.623,3.139-3.62,5.212-6.786,4.723
                                l-50.145-7.699C46.104,225.186,44.665,224.303,43.734,222.979z M102.413,264.909c-0.117-0.711-0.371-1.368-0.714-1.963
                                c-1.158-2.015-3.444-3.24-5.888-2.955l-50.419,5.822c-1.618,0.187-3.086,1.033-4.083,2.32c-0.986,1.296-1.401,2.938-1.149,4.553
                                c4.543,29.505,19.774,56.902,42.53,76.366c1.237,1.057,2.845,1.565,4.465,1.412c1.609-0.153,3.098-0.957,4.113-2.217
                                l31.748-39.576c1.989-2.498,1.699-6.131-0.712-8.237C111.782,291.099,104.832,278.584,102.413,264.909z M201.007,324.648
                                c-1.159-2.973-4.455-4.542-7.474-3.514c-13.352,4.454-27.676,4.214-40.727-0.524c-0.679-0.252-1.365-0.362-2.043-0.362
                                c-2.332,0-4.534,1.357-5.502,3.623l-20.173,46.577c-0.646,1.494-0.657,3.186-0.021,4.689c0.621,1.517,1.835,2.688,3.359,3.277
                                c27.823,10.813,59.166,11.327,87.402,1.336c1.529-0.537,2.78-1.675,3.458-3.146c0.679-1.472,0.723-3.157,0.128-4.674
                                L201.007,324.648z M307.974,275.246c-0.931-1.312-2.374-2.21-3.971-2.451l-50.146-7.693c-3.152-0.481-6.162,1.587-6.777,4.723
                                c-2.824,13.784-10.186,26.063-20.815,34.992c-0.562,0.472-1.011,1.008-1.347,1.6c-1.16,2.008-1.081,4.596,0.381,6.565
                                l30.253,40.752c0.979,1.308,2.438,2.171,4.057,2.378c1.607,0.197,3.237-0.252,4.524-1.28
                                c23.271-18.687,39.381-45.576,44.87-75.021C309.289,278.224,308.915,276.576,307.974,275.246z M249.292,233.323
                                c0.118,0.706,0.369,1.368,0.712,1.956c1.159,2.017,3.447,3.24,5.888,2.958l50.419-5.833c1.619-0.184,3.086-1.026,4.081-2.32
                                c0.998-1.294,1.401-2.935,1.161-4.55c-4.548-29.505-19.774-56.896-42.54-76.362c-1.236-1.053-2.845-1.562-4.464-1.412
                                c-1.609,0.151-3.096,0.953-4.113,2.219l-31.736,39.576c-2.001,2.496-1.708,6.131,0.7,8.238
                                C239.924,207.128,246.87,219.651,249.292,233.323z M150.695,173.574c1.15,2.978,4.454,4.54,7.475,3.513
                                c13.355-4.448,27.676-4.213,40.726,0.534c0.678,0.246,1.368,0.364,2.045,0.364c2.332,0,4.531-1.368,5.502-3.62l20.16-46.58
                                c0.656-1.497,0.656-3.188,0.035-4.689c-0.624-1.508-1.838-2.685-3.362-3.278c-27.819-10.815-59.165-11.319-87.402-1.346
                                c-1.528,0.544-2.78,1.682-3.455,3.154c-0.679,1.474-0.726,3.16-0.142,4.673L150.695,173.574z M176.69,218.311
                                c-16.809,0-30.449,13.633-30.449,30.449c0,16.812,13.64,30.449,30.449,30.449c16.811,0,30.45-13.637,30.45-30.449
                                C207.14,231.944,193.501,218.311,176.69,218.311z M498.631,386.908l-22.393,36.302h-302.35C78.01,423.21,0,345.189,0,249.316
                                C0,153.432,78.01,75.42,173.888,75.42c95.891,0,173.902,78.012,173.902,173.896c0,55.928-26.572,105.756-67.734,137.592H498.631z
                                 M441.547,395.85h13.098l5.453-6.49h-13.111L441.547,395.85z M412.369,395.85h13.102l5.459-6.49h-13.122L412.369,395.85z
                                 M385.886,395.85h13.098l5.453-6.49h-13.111L385.886,395.85z M385.556,409.595h75.951l8.395-12.586H393.95L385.556,409.595z
                                 M357.834,395.85h13.101l5.439-6.49h-13.101L357.834,395.85z M328.734,395.85h13.1l5.439-6.49h-13.098L328.734,395.85z
                                 M298.059,395.85h13.102l5.439-6.49h-13.102L298.059,395.85z M173.888,411.226c89.283,0,161.907-72.635,161.907-161.91
                                c0-89.274-72.624-161.903-161.907-161.903c-89.272,0-161.897,72.629-161.897,161.903
                                C11.991,338.591,84.616,411.226,173.888,411.226z M262.709,413.098h-13.973l-5.614,6.921h13.961L262.709,413.098z M268.947,395.85
                                h13.101l5.439-6.49h-13.101L268.947,395.85z M293.746,413.098h-13.976l-5.613,6.921h13.976L293.746,413.098z M326.471,413.098
                                h-13.978l-5.613,6.921h13.975L326.471,413.098z M357.517,413.098h-13.985l-5.602,6.921h13.965L357.517,413.098z M363.974,396.998
                                h-75.962l-8.395,12.588h75.952L363.974,396.998z M387.427,413.098h-13.975l-5.612,6.921h13.974L387.427,413.098z M415.674,413.098
                                H401.7l-5.616,6.921h13.975L415.674,413.098z M446.799,413.098h-13.975l-5.616,6.921h13.965L446.799,413.098z M477.836,413.098
                                H463.86l-5.612,6.921h13.975L477.836,413.098z M483.756,395.85l5.439-6.49h-13.111l-5.426,6.49H483.756z" />
                </g>
              </g>
            </svg>
                    Phim
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="/admin/the-loai" class="sidebar__nav-link">
                    <svg height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 254.217 254.217" xml:space="preserve">
                    <g>
                    <path style="fill:white;" d="M246.717,0H7.5C3.357,0,0,3.357,0,7.5v239.217c0,4.143,3.357,7.5,7.5,7.5h239.217
                            c4.143,0,7.5-3.357,7.5-7.5V7.5C254.217,3.357,250.859,0,246.717,0z M188.2,15v224.217H66.017V15H188.2z M15,15h36.017v224.217H15
                            V15z M239.217,239.217H203.2V15h36.017V239.217z" />
                    <path style="fill:white;" d="M31.878,37.378c1.971,0,3.9-0.8,5.3-2.2c1.4-1.39,2.2-3.319,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3
                            c-1.399-1.4-3.329-2.2-5.3-2.2c-1.979,0-3.91,0.8-5.31,2.2c-1.391,1.39-2.19,3.33-2.19,5.3c0,1.98,0.8,3.91,2.19,5.3
                            C27.968,36.578,29.898,37.378,31.878,37.378z" />
                    <path style="fill:white;" d="M31.878,50.208c-1.979,0-3.91,0.8-5.31,2.2c-1.391,1.4-2.19,3.33-2.19,5.31
                            c0,1.971,0.8,3.9,2.19,5.301c1.399,1.399,3.34,2.199,5.31,2.199c1.971,0,3.9-0.8,5.3-2.199c1.4-1.4,2.2-3.33,2.2-5.301
                            c0-1.979-0.8-3.909-2.2-5.31C35.778,51.008,33.849,50.208,31.878,50.208z" />
                    <path style="fill:white;" d="M31.878,78.048c-1.979,0-3.91,0.801-5.31,2.2c-1.391,1.391-2.19,3.32-2.19,5.3
                            c0,1.971,0.8,3.9,2.19,5.301c1.399,1.399,3.33,2.199,5.31,2.199c1.971,0,3.9-0.8,5.3-2.199c1.4-1.4,2.2-3.33,2.2-5.301
                            c0-1.979-0.8-3.909-2.2-5.3C35.778,78.849,33.849,78.048,31.878,78.048z" />
                    <path style="fill:#FFF;" d="M31.878,105.878c-1.979,0-3.91,0.8-5.31,2.2c-1.391,1.4-2.19,3.33-2.19,5.3
                            c0,1.98,0.8,3.91,2.19,5.311c1.399,1.39,3.33,2.189,5.31,2.189c1.971,0,3.9-0.8,5.3-2.189c1.4-1.4,2.2-3.33,2.2-5.311
                            c0-1.97-0.8-3.899-2.2-5.3C35.778,106.678,33.849,105.878,31.878,105.878z" />
                    <path style="fill:#FFF;" d="M31.878,133.718c-1.97,0-3.91,0.801-5.31,2.19c-1.391,1.4-2.19,3.33-2.19,5.31
                            c0,1.971,0.8,3.9,2.19,5.301c1.399,1.39,3.33,2.189,5.31,2.189c1.971,0,3.9-0.8,5.3-2.189c1.4-1.4,2.2-3.33,2.2-5.301
                            c0-1.979-0.8-3.909-2.2-5.31C35.778,134.519,33.849,133.718,31.878,133.718z" />
                    <path style="fill:#FFF;" d="M31.878,161.548c-1.979,0-3.91,0.801-5.31,2.2c-1.391,1.391-2.19,3.33-2.19,5.3
                            c0,1.971,0.8,3.91,2.19,5.301c1.399,1.399,3.33,2.199,5.31,2.199c1.971,0,3.9-0.8,5.3-2.199c1.4-1.391,2.2-3.33,2.2-5.301
                            c0-1.97-0.8-3.909-2.2-5.3C35.778,162.349,33.849,161.548,31.878,161.548z" />
                    <path style="fill:#FFF;" d="M31.878,189.378c-1.979,0-3.91,0.8-5.31,2.2c-1.391,1.4-2.19,3.33-2.19,5.3
                            c0,1.98,0.8,3.91,2.19,5.311c1.399,1.39,3.33,2.189,5.31,2.189c1.971,0,3.9-0.8,5.3-2.189c1.4-1.4,2.2-3.33,2.2-5.311
                            c0-1.97-0.8-3.91-2.2-5.3C35.778,190.178,33.849,189.378,31.878,189.378z" />
                    <path style="fill:#FFF;" d="M31.878,217.218c-1.979,0-3.91,0.801-5.31,2.19c-1.391,1.4-2.19,3.33-2.19,5.31
                            c0,1.971,0.8,3.9,2.19,5.301c1.399,1.399,3.33,2.199,5.31,2.199c1.971,0,3.9-0.8,5.3-2.199c1.4-1.4,2.2-3.33,2.2-5.301
                            c0-1.979-0.8-3.909-2.2-5.31C35.778,218.019,33.849,217.218,31.878,217.218z" />
                    <path style="fill:#FFF;" d="M221.968,37.378c1.971,0,3.91-0.8,5.301-2.2c1.399-1.39,2.199-3.329,2.199-5.3
                            c0-1.97-0.8-3.91-2.199-5.3c-1.391-1.4-3.33-2.2-5.301-2.2c-1.97,0-3.909,0.8-5.3,2.2c-1.399,1.39-2.2,3.33-2.2,5.3
                            c0,1.98,0.801,3.91,2.2,5.3C218.059,36.578,219.998,37.378,221.968,37.378z" />
                    <path style="fill:#FFF;" d="M221.968,65.218c1.971,0,3.91-0.8,5.301-2.199c1.399-1.4,2.199-3.33,2.199-5.301
                            c0-1.979-0.8-3.909-2.199-5.31c-1.391-1.4-3.33-2.2-5.301-2.2c-1.97,0-3.899,0.8-5.3,2.2c-1.399,1.4-2.2,3.33-2.2,5.31
                            c0,1.971,0.801,3.9,2.2,5.301C218.068,64.418,219.998,65.218,221.968,65.218z" />
                    <path style="fill:#FFF;" d="M221.968,93.048c1.971,0,3.91-0.8,5.301-2.199c1.399-1.4,2.199-3.33,2.199-5.301
                            c0-1.979-0.8-3.909-2.199-5.3c-1.391-1.399-3.33-2.2-5.301-2.2c-1.97,0-3.909,0.801-5.3,2.2c-1.399,1.391-2.2,3.32-2.2,5.3
                            c0,1.971,0.801,3.9,2.2,5.301C218.059,92.248,219.998,93.048,221.968,93.048z" />
                    <path style="fill:#FFF;" d="M221.968,120.878c1.971,0,3.91-0.8,5.301-2.189c1.399-1.4,2.199-3.33,2.199-5.311
                            c0-1.97-0.8-3.91-2.199-5.3c-1.391-1.4-3.33-2.2-5.301-2.2c-1.979,0-3.909,0.8-5.3,2.2c-1.399,1.39-2.2,3.33-2.2,5.3
                            c0,1.98,0.801,3.91,2.2,5.311C218.059,120.078,219.998,120.878,221.968,120.878z" />
                    <path style="fill:#FFF;" d="M221.968,148.708c1.98,0,3.91-0.8,5.301-2.189c1.399-1.4,2.199-3.33,2.199-5.301
                            c0-1.979-0.8-3.909-2.199-5.31c-1.391-1.39-3.33-2.19-5.301-2.19c-1.97,0-3.909,0.801-5.3,2.19c-1.399,1.4-2.2,3.33-2.2,5.31
                            c0,1.971,0.801,3.9,2.2,5.301C218.059,147.908,219.998,148.708,221.968,148.708z" />
                    <path style="fill:#FFF;" d="M221.968,176.548c1.971,0,3.91-0.8,5.301-2.199c1.399-1.391,2.199-3.33,2.199-5.301
                            c0-1.97-0.8-3.909-2.199-5.3c-1.391-1.399-3.33-2.2-5.301-2.2c-1.979,0-3.909,0.801-5.3,2.2c-1.399,1.391-2.2,3.32-2.2,5.3
                            c0,1.98,0.801,3.91,2.2,5.301C218.059,175.748,219.988,176.548,221.968,176.548z" />
                    <path style="fill:#FFF;" d="M221.968,204.378c1.98,0,3.91-0.8,5.301-2.189c1.399-1.4,2.199-3.33,2.199-5.311
                            c0-1.97-0.8-3.899-2.199-5.3c-1.391-1.4-3.32-2.2-5.301-2.2c-1.979,0-3.909,0.8-5.3,2.2c-1.399,1.4-2.2,3.33-2.2,5.3
                            c0,1.98,0.801,3.91,2.2,5.311C218.059,203.578,219.988,204.378,221.968,204.378z" />
                    <path style="fill:#FFF;" d="M221.968,217.218c-1.97,0-3.909,0.801-5.3,2.19c-1.399,1.4-2.2,3.33-2.2,5.31
                            c0,1.971,0.801,3.9,2.2,5.301c1.391,1.399,3.33,2.199,5.3,2.199c1.971,0,3.91-0.8,5.301-2.199c1.399-1.4,2.199-3.33,2.199-5.301
                            c0-1.979-0.8-3.909-2.199-5.31C225.878,218.019,223.938,217.218,221.968,217.218z" />
                    <path style="fill:#FFF;" d="M91.649,170.623c1.156,0.664,2.446,0.996,3.735,0.996c1.306,0,2.611-0.341,3.779-1.021
                            l63.447-37.011c2.304-1.344,3.721-3.811,3.721-6.479s-1.417-5.135-3.721-6.479L99.164,83.619c-2.32-1.353-5.187-1.362-7.515-0.025
                            c-2.329,1.338-3.765,3.818-3.765,6.504v74.021C87.885,166.805,89.32,169.285,91.649,170.623z M102.885,103.155l41.063,23.953
                            l-41.063,23.953V103.155z" />
                        </g>
                    </svg>
                    Thể loại
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="/admin/rap-phim" class="sidebar__nav-link">
                    <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
                              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Chi nhánh rạp
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="/admin/hoa-don" class="sidebar__nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                        <path d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z" />
                    </svg>
                    Đơn hàng
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="#" class="sidebar__nav-link toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                        <path d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z" />
                    </svg>
                    Quản lý
                    <span class="arrow right"></span>
                </a>
                <ul class="subNav">
                    <li>
                        <a href="/admin/lich-chieu" class="sidebar__nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                <path d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z" />
                            </svg>
                            Lịch chiếu
                        </a>
                    </li>
                    <li>
                        <a href="/admin/phong-chieu" class="sidebar__nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                <path d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z" />
                            </svg>
                            Phòng chiếu
                        </a>
                    </li>
                    <li>
                        <a href="/admin/khuyen-mai" class="sidebar__nav-link">
                            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 296.667 296.667" xml:space="preserve">
                            <g>
                            <path d="M178.957,219.245c-2.929-2.93-2.929-7.678,0-10.607l11.1-11.099l-11.1-11.099c-1.406-1.407-2.196-3.314-2.196-5.304
                                c0-1.989,0.79-3.897,2.197-5.304l11.099-11.097l-11.1-11.099c-2.929-2.93-2.929-7.678,0-10.607l11.1-11.099l-11.1-11.099
                                c-2.929-2.93-2.929-7.678,0-10.607l11.101-11.1l-11.1-11.099c-1.406-1.407-2.196-3.314-2.196-5.304c0-1.989,0.79-3.896,2.197-5.304
                                l11.087-11.086H15.969C7.149,66.334,0,73.483,0,82.302v132.063c0,8.819,7.149,15.969,15.969,15.969h174.078L178.957,219.245z
                                 M77.05,203.952c-6.556,0-11.871-5.314-11.871-11.871c0-6.558,5.315-11.872,11.871-11.872c6.558,0,11.872,5.314,11.872,11.872
                                C88.922,198.637,83.607,203.952,77.05,203.952z M113.114,203.952c-6.557,0-11.871-5.314-11.871-11.871
                                c0-6.558,5.314-11.872,11.871-11.872c6.557,0,11.871,5.314,11.871,11.872C124.985,198.637,119.671,203.952,113.114,203.952z
                                 M144.628,116.506l-10.322,46.792c-1.19,5.396-5.971,9.237-11.497,9.237H67.354c-5.524,0-10.307-3.842-11.495-9.237l-12.39-56.159
                                H32.09c-3.983,0-7.213-3.229-7.213-7.213s3.229-7.212,7.213-7.212h25.532c3.353,0,6.263,2.309,7.025,5.573l2.064,8.852h70.39
                                c2.336,0,4.546,1.059,6.009,2.881C144.573,111.84,145.131,114.226,144.628,116.506z" />
                            <path d="M280.698,66.334h-72.535c-0.003,1.985-0.792,3.888-2.196,5.292l-11.099,11.098l11.1,11.099
                                c2.929,2.93,2.929,7.678,0,10.607l-11.101,11.1l11.1,11.099c2.929,2.93,2.929,7.678,0,10.607l-11.1,11.099l11.1,11.099
                                c1.406,1.407,2.196,3.314,2.196,5.304c0,1.989-0.79,3.898-2.197,5.304l-11.099,11.097l11.1,11.099c2.929,2.93,2.929,7.678,0,10.607
                                l-11.1,11.099l11.101,11.1c1.462,1.462,2.193,3.377,2.196,5.293h72.534c8.819,0,15.969-7.149,15.969-15.969V82.302
                                C296.667,73.483,289.518,66.334,280.698,66.334z M212.932,131.432c0-7.47,6.056-13.525,13.525-13.525s13.524,6.056,13.524,13.525
                                s-6.055,13.524-13.524,13.524S212.932,138.902,212.932,131.432z M231.605,183.736c-0.763,0-1.536-0.175-2.262-0.544
                                c-2.462-1.252-3.443-4.262-2.191-6.723l30.914-60.804c1.252-2.463,4.264-3.443,6.723-2.191c2.462,1.252,3.443,4.262,2.191,6.723
                                l-30.914,60.804C235.184,182.737,233.428,183.736,231.605,183.736z M267.676,178.759c-7.47,0-13.524-6.056-13.524-13.525
                                s6.055-13.524,13.524-13.524c7.47,0,13.525,6.055,13.525,13.524S275.146,178.759,267.676,178.759z" />
                          </g>
                        </svg>
                            Khuyến mãi
                        </a>
                    </li>
                    <li>
                        <a href="/admin/loai-ghe" class="sidebar__nav-link">
                            <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 32 32" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: white;
                                    stroke: #000000;
                                    stroke-width: 2;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-miterlimit: 10;
                                }
</style>
                            <path class="st0" d="M9,29H5c-1.1,0-2-0.9-2-2V17c0-1.7,1.3-3,3-3h0c1.7,0,3,1.3,3,3V29z" />
                            <path class="st0"
                                  d="M27,29h-4V17c0-1.7,1.3-3,3-3h0c1.7,0,3,1.3,3,3v10C29,28.1,28.1,29,27,29z" />
                            <rect x="9" y="19" class="st0" width="14" height="10" />
                            <path class="st0" d="M6,14V7.8C6,5.7,7.7,4,9.8,4h12.3C24.3,4,26,5.7,26,7.8V14" />
                            </svg>
                            Loại ghế
                        </a>
                    </li>
                    <li>
                        <a href="/admin/thuc-an" class="sidebar__nav-link">
                            <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 490 490" xml:space="preserve">
                            <g>
                            <g>
                            <g>
                            <path d="M407.2,85.6l-40.1,102.7H122.9L82.8,85.6H12.4l49.4,386.6c1.2,10,10.1,17.8,20.3,17.8h325.1c10.5,0,19.1-7.8,20.2-17.9
                                            l50.2-386.6h-70.4V85.6z M245,395.1c-80.1,0-143.1-33.1-143.1-75.4s63-75.4,143.1-75.4s143.1,33.1,143.1,75.4
                                            S325.1,395.1,245,395.1z" />
                            <rect x="412.6" width="39.3" height="65.7" />
                            <polygon points="385.8,86.3 399.4,16.3 360.5,8.9 329.8,168.4 353.5,168.4" />
                            <rect x="284.7" y="6.2" width="39.3" height="162.2" />
                            <polygon points="266.4,168.4 236.8,15.9 198.3,23.7 226.3,168.4" />
                            <rect x="151.3" y="30.3" width="39.3" height="138.1" />
                            <polygon points="114.3,112 131.1,26.8 92.6,19.1 83.2,65.7 96.4,65.7" />
                            <rect x="37.3" width="39.3" height="65.7" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                            Thức ăn nhanh
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar__nav-item">
                <a href="/admin/nguoi-dung" class="sidebar__nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                        <path d="M12,2A10,10,0,0,0,4.65,18.76h0a10,10,0,0,0,14.7,0h0A10,10,0,0,0,12,2Zm0,18a8,8,0,0,1-5.55-2.25,6,6,0,0,1,11.1,0A8,8,0,0,1,12,20ZM10,10a2,2,0,1,1,2,2A2,2,0,0,1,10,10Zm8.91,6A8,8,0,0,0,15,12.62a4,4,0,1,0-6,0A8,8,0,0,0,5.09,16,7.92,7.92,0,0,1,4,12a8,8,0,0,1,16,0A7.92,7.92,0,0,1,18.91,16Z" />
                    </svg>
                    Người dùng
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="/admin/bai-viet" class="sidebar__nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                        <path d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z" />
                    </svg>
                    Blog
                </a>
            </li>
        </ul>
        <!-- end sidebar nav -->
        <!-- sidebar copyright -->
        <div class="sidebar__copyright">© 3AnhEm, 2024.</div>
        <!-- end sidebar copyright -->
    </div>

    <main role="main">
        @RenderBody()
    </main>

    <!-- JS -->
    <script src="~/js/admin/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/admin/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/js/admin/js/select2.min.js"></script>
    <script src="~/js/admin/js/admin.js"></script>
    <script>
        // Ensure Select2 is loaded before any page scripts
        $(document).ready(function() {
            if (typeof $.fn.select2 === 'undefined') {
                console.error('Select2 is not loaded properly');
            }
        });
    </script>
    <script src="~/js/admin/index.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
