@model IEnumerable<school_major_project.Models.SeatType>

@{
    ViewData["Title"] = "Danh sách loại ghế";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2 >@ViewData["Title"]</h2>
                        <a href="/admin/loai-ghe/tao-moi" class="main__title-link">Thêm mới</a>

                    </div>
                </div>
                <!-- end main title -->
                <!-- users -->
                <div class="col-12">
                    <div class="main__table-wrap">
                        <table class="main__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>LOẠI GHẾ</th>
                                    <th>GIÁ GHẾ</th>
                                    <th>ẢNH MÔ TẢ</th>
                                    <th>ĐIỂM THƯỞNG</th>
                                    <th>HÀNH ĐỘNG</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var type in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="main__table-text">@type.Id</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@type.TypeDescription</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">
                                                @type.Price.ToString() Vnđ
                                            </div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">
                                                <img src="@Html.DisplayFor(item => type.ImageDescription)" alt="@type.TypeDescription" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@type.PointGiving</div>
                                        </td>
                                        <td>
                                            <div class="main__table-btns">
                                               
                                                <a href="#modal-delete" onclick="setDeleteItem(@type.Id)"
                                                   class="main__table-btn main__table-btn--delete open-modal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end users -->
            </div>
        </div>
    </main>
    <!-- end main content -->
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
        <h6 class="modal__title">Thông báo</h6>
        <p class="modal__text">Bạn có muốn xoá dữ liệu này không? Không thể xoá dữ liệu đã có liên kết.</p>
        <div class="modal__btns">
            <button class="modal__btn modal__btn--apply" type="button"
                    onclick="deleteItem('/admin/loai-ghe/xoa/' + deleteItemId , '/admin/loai-ghe/')">
                Xoá
            </button>
            <button class="modal__btn modal__btn--dismiss" type="button">Đóng</button>
        </div>
    </div>
</section>
