@model IEnumerable<school_major_project.Models.Promotion>

@{
    ViewData["Title"] = "Quản lý khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/admin/css/promotion-page.css" rel="stylesheet" />
}

<section>
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>@ViewData["Title"]</h2>
                        <a href="/admin/khuyen-mai/tao-moi" class="main__title-link">Thêm mới</a>
                    </div>
                </div>
                <div class="promotion-section">
                    @if (Model == null || Model.Count() == 0)
                    {
                        <h2>Hiện tại chưa có khuyến mãi</h2>
                    }
                    else
                    {
                        <div class="promotion-section__container">
                            <div class="promotion-section__items">
                                @foreach (var promotion in Model)
                                {
                                    <div class="promotion-item">
                                        <div class="promotion-item__info">
                                            <img src="~/imgs/img/Percentage.png" alt=" % Image" class="promotion-item__image" />
                                            <p>
                                                <strong>ID:</strong>
                                                <span>@promotion.Id</span>
                                            </p>
                                            <p>
                                                <strong>Mã khuyến mãi:</strong>
                                                <span >@promotion.Code</span>
                                            </p>
                                            <p>
                                                <strong>Mô tả:</strong>
                                                <span>@promotion.Description</span>
                                            </p>
                                            <p>
                                                <strong>Giá trị khuyến mãi:</strong>
                                                <span >
                                                    @((promotion.DiscountRate * 100).ToString("0") + "%")
                                                </span>
                                            </p>
                                            <p>
                                                <strong>Điểm để đổi:</strong>
                                                <span >@promotion.RedemptionPoint</span>
                                            </p>
                                            <p>
                                                <strong>Thời gian khuyến mãi:</strong> <br>
                                                <span>
                                                    @promotion.StartDate.ToString("dd/MM/yyyy HH:mm:ss") - <br />
                                                    @promotion.EndDate.ToString("dd/MM/yyyy HH:mm:ss")
                                                </span>
                                            </p>
                                        </div>
                                        <div class="promotion-item__actions">
                                            <a asp-action="Edit" asp-route-id="@promotion.Id" class="btn--edit-promotion">Chỉnh sửa</a>
                                            
                                            <a href="#modal-delete" onclick="setDeleteItem(@promotion.Id)"
                                               class="main__table-btn main__table-btn--delete open-modal">
                                                Xóa
                                            </a>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
    </main>
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
        <h6 class="modal__title">Thông báo</h6>
        <p class="modal__text">Bạn có muốn xoá dữ liệu này không? Không thể xoá dữ liệu đã có liên kết.</p>
        <div class="modal__btns">
            <button class="modal__btn modal__btn--apply" type="button"
                    onclick="deleteItem('/admin/khuyen-mai/xoa/' + deleteItemId, '/admin/khuyen-mai')">
                Xoá
            </button>
            <button class="modal__btn modal__btn--dismiss" type="button">Đóng</button>
        </div>
    </div>
</section>
