@model IEnumerable<school_major_project.Models.Film>

@{
    ViewData["Title"] = "Trang quản lý phim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var countries = ViewBag.Countries as IEnumerable<Country>;
}



<section layout:fragment="content">
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>@ViewData["Title"]</h2>
                        <a asp-action="Create" asp-controller="Films" asp-area="Admin" class="main__title-link">Thêm mới</a>
                    </div>
                </div>
                <!-- end main title -->
                <!-- users -->
                <div class="col-12">
                    <div class="main__table-wrap">
                        <table class="main__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>TÊN PHIM</th>
                                    <th>POSTER</th>
                                    <th>NGÀY KHỞI CHIẾU</th>
                                    <th>THỜI LƯỢNG</th>
                                    <th>QUỐC GIA</th>
                                    <th>ĐỘ TUỔI</th>
                                    <th>HÀNH ĐỘNG</th>
                                </tr>
                            </thead>
                            <!--                            kiểu thường -->
                            <tbody>
                                @foreach (var film in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="main__table-text"> @film.Id</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.Name</div>
                                        </td>
                                        <td>
                                            <img src="@film.PosterUrl" alt="Film Poster" style="max-width: 100px;" />
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.StartTime.ToString()</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.FilmDuration phút</div>
                                        </td>
                                        <td>
                                            @foreach (var country in countries)
                                            {
                                                if (film.CountryId == country.Id)
                                                {
                                                    <div class="main__table-text">@country.Name</div>
                                                }

                                            }
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.FilmRated</div>
                                        </td>
                                        <td>
                                            <div class="main__table-btns">
                                                <a href="@Url.Action("CreateFromFilm", "Schedules", new { filmId = film.Id })" 
                                                   class="main__table-btn main__table-btn--banned"
                                                   title="Thêm lịch chiếu phim này">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <g transform="matrix(0.43 0 0 0.43 12 12)">
                                                            <path transform=" translate(-25, -25)"
                                                                  d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z"
                                                                  stroke-linecap="round" />
                                                        </g>
                                                    </svg>
                                                </a>
                                                <a asp-action="Details" asp-area="Admin" asp-controller="Films" asp-route-id="@film.Id"
                                                   class="main__table-btn main__table-btn--edit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                                                    </svg>
                                                </a>
                                                <a asp-action="Edit" asp-area="Admin" asp-controller="Films" asp-route-id="@film.Id"
                                                   class="main__table-btn main__table-btn--edit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z" />
                                                    </svg>
                                                </a>
                                                <a href="#modal-delete" onclick="setDeleteItem(@film.Id)"
                                                   class="main__table-btn main__table-btn--delete open-modal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <!--                            API
                                                        <tbody id="film_body"></tbody>-->
                        </table>
                    </div>
                </div>
                <!-- end users -->
            </div>
        </div>
    </main>
    <!-- end main content -->
    <!-- modal delete -->
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
        <h6 class="modal__title">Thông báo</h6>
        <p class="modal__text">Bạn có muốn xoá dữ liệu này không? Không thể xoá dữ liệu đã có liên kết.</p>
        <div class="modal__btns">
            <button class="modal__btn modal__btn--apply" type="button"
                    onclick="deleteItem('/admin/phim/xoa/' + deleteItemId, '/admin/phim')">
                Xoá
            </button>
            <button class="modal__btn modal__btn--dismiss" type="button">Đóng</button>
        </div>
    </div>


</section>