@model IEnumerable<school_major_project.Models.Film>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var countries = ViewBag.Countries as IEnumerable<Country>;
}

@* <h1>Index</h1> *@

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Name) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Description) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.PosterUrl) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.TrailerUrl) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.DirectorName) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Language) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.FilmRated) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.FilmDuration) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Actors) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Quality) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.StartTime) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Name) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Description) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.PosterUrl) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.TrailerUrl) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.DirectorName) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Language) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.FilmRated) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.FilmDuration) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Actors) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Quality) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.StartTime) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@* } *@
@*     </tbody> *@
@* </table> *@

<section layout:fragment="content">
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2 th:text="${title}"></h2>
                        <a th:href="/admin/films/add" class="main__title-link">Thêm mới</a>
                    </div>
                </div>
                <!-- end main title -->
                <!-- users -->
                <div class="col-12">
                    <div class="main__table-wrap">
                        <table class="main__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>TÊN PHIM</th>
                                    <th>POSTER</th>
                                    <th>NGÀY KHỞI CHIẾU</th>
                                    <th>THỜI LƯỢNG</th>
                                    <th>QUỐC GIA</th>
                                    <th>ĐỘ TUỔI</th>
                                    <th>HÀNH ĐỘNG</th>
                                </tr>
                            </thead>
                            <!--                            kiểu thường -->
                            <tbody>
                                @foreach (var film in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="main__table-text"> @film.Id</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.Name</div>
                                        </td>
                                        <td>
                                            <img src="@film.PosterUrl" alt="Film Poster" style="max-width: 100px;" />
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.StartTime.ToString()</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@film.FilmDuration phút</div>
                                        </td>
                                        <td>
                                            @foreach (var country in countries)
                                            {
                                                if (film.CountryId == country.Id)
                                                {
                                                    <div class="main__table-text">@country.Name</div>
                                                }

                                            }
                                        </td>
                                        <td>
                                            <div class="main__table-text" th:text="${item.limit_age}">@film.FilmRated</div>
                                        </td>
                                        <td>
                                            <div class="main__table-btns">
                                                <a th:href="/admin/schedules/add/{filmId}(filmId=${item.id})}"
                                                   class="main__table-btn main__table-btn&#45;&#45;banned"
                                                   title="Thêm lịch chiếu phim này">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <g transform="matrix(0.43 0 0 0.43 12 12)">
                                                            <path transform=" translate(-25, -25)"
                                                                  d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z"
                                                                  stroke-linecap="round" />
                                                        </g>
                                                    </svg>
                                                </a>
                                                <a th:href="/admin/films/edit/{id}(id=${item.id})}"
                                                   class="main__table-btn main__table-btn&#45;&#45;edit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z" />
                                                    </svg>
                                                </a>
                                                <a href="#modal-delete" th:onclick="'setDeleteItem( ' + ${item.id} + ')'"
                                                   class="main__table-btn main__table-btn&#45;&#45;delete open-modal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                            <!--                            API
                                                        <tbody id="film_body">

                                                                                    </tbody>-->
                        </table>
                    </div>
                </div>
                <!-- end users -->
            </div>
        </div>
    </main>
    <!-- end main content -->
    <!-- modal delete -->
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
        <h6 class="modal__title">Thông báo</h6>
        <p class="modal__text">Bạn có muốn xoá dữ liệu này không? Không thể xoá dữ liệu đã có liên kết.</p>
        <div class="modal__btns">
            <button class="modal__btn modal__btn--apply" type="button"
                    onclick="deleteItem('/admin/films/delete/' + item_id, '/admin/films')">
                Xoá
            </button>
            <button class="modal__btn modal__btn--dismiss" type="button">Đóng</button>
        </div>
    </div>


</section>